.App {
  text-align: center;
   
}
.text{
  display: flex;
  align-items: center;
  justify-content: center;
   
  text-align: center;
}
form{
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
 
} 

form label  {
 margin-top: 20px;
 background-color: rgb(227, 215, 215);
 width: 500px;
}
.error{
  border: 4px solid rgb(187, 77, 77);
}